# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db

# Virtual environment
venv/
.env

# Editor and OS files
.vscode/
.DS_Store

# Logs and local dev files
*.log

# PyInstaller
*.spec

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.cache/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/
